@import "./design-system";
// src/styles/card-grid.scss


.cards-grid {
  display: grid;
  gap: var(--spacing-md);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Skeleton pro načítání */
.card-skeleton {
  background: var(--border-color);
  border-radius: var(--radius-lg);
  height: 200px;
  position: relative;
  overflow: hidden;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
