// src/index.scss

@import './styles/variables';
@import './styles/theme';
@import './styles/sidebar';
@import './styles/bottombar';

// Reset a globální styl
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden; // aby nevznikly dva scrollbary
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

ul {
  list-style: none;
}
